.header {
  z-index: 1000;
  position: fixed;
  font-size: 1.25rem; 
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  top: 0;
  width: 100%;


}
.header img {
  width: 20rem;
}
.header__btn:link,
.header__btn:visited {
  padding: 1rem 4rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(182, 182, 182);
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  transition: border 0.4s;
}
.header__btn:hover,
.header__btn:active {
  border: 1px solid rgb(104, 104, 104);
}
.header__form {
  display: flex;
  align-items: center;
}
.header input {
  padding: 1rem 3rem;
  width: 50rem;
  outline: none;
  margin-left: 2rem;
}

.location {
  position: relative;
}
.location__img img {
  top: 50%;
  left: 3.5rem;
  transform: translate(-50%, -50%);
  width: 3rem;
  position: absolute;
}
