  .header{
    z-index: 1000;
    position: fixed;
    top: 0;
    font-size: 1.25rem; 
    background-color: $color-white;
    padding: 1.5rem;
    width: 100%;
    .row{
      justify-content: space-between;
      align-items: center;
    }
      &__logo{
          img{
            width: 20rem;
          }
      }
      &__form{
        display: flex;
        align-items: center;
       &-search{
         margin-left: 1.5rem;
       }
      }

    
  }