.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.header img{
    width: 200px;
}
.btn:link,.btn:visited{
    padding: 13px 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(182, 182, 182);
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: border .4s;
}
.btn:hover,.btn:active{
    border: 1px solid rgb(104, 104, 104);
}
.header__form{
    display: flex;
    align-items: center;
  
}
.header input{
   
    padding: 13px 10px;
    width: 500px;
    outline: none;
    margin-left:20px;
}