.btnAdd {
    width: 3rem;
    height: 3rem;
    outline: none;
    cursor: pointer;
    background-color: white;
    border: 2px solid orange;
    border-radius: 50%;
    color: orange;
    font-size: 2rem;
    font-weight: bold;
  }